<div class="navbar-fixed">
  <nav class="teal lighten-2">
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo">Real Estate</a>
      <a href="/" data-target="mobile-sidenav" class="sidenav-trigger">
        <i class="hamburger-medium material-icons">menu</i></a>

      <ul class="right hide-on-med-and-down">
        {{#if isHome}}
        <li class='active'><a href="/">Home</a></li>
        {{else}}
        <li><a href="/">Home</a></li>
        {{/if}}

        {{#if isRealty}}
        <li class='active'><a href="/realty">Realty</a></li>
        {{else}}
        <li><a href="/realty">Realty</a></li>
        {{/if}}

        {{#if isAuth}}

        {{#if isSeller}}
        {{#if isAdd}}
        <li class='active'><a href="/add">Add property</a></li>
        {{else}}
        <li><a href="/add">Add property</a></li>
        {{/if}}
        {{/if}}

        {{#if isProfile}}
        <li class='active'><a href="/profile">Profile</a></li>
        {{else}}
        <li><a href="/profile">Profile</a></li>
        {{/if}}

        <li><a href="/auth/logout">Logout</a></li>
        {{else}}

        {{#if isLogin}}
        <li class='active'><a href="/auth">Login</a></li>
        {{else}}
        <li><a href="/auth">Login</a></li>
        {{/if}}

        {{/if}}
      </ul>

    </div>
  </nav>
</div>

<ul class="sidenav" id="mobile-sidenav">
  {{#if isHome}}
  <li class='active'><a href="/">Home</a></li>
  {{else}}
  <li><a href="/">Home</a></li>
  {{/if}}

  {{#if isRealty}}
  <li class='active'><a href="/realty">Realty</a></li>
  {{else}}
  <li><a href="/realty">Realty</a></li>
  {{/if}}

  {{#if isAuth}}

  {{#if isSeller}}
  {{#if isAdd}}
  <li class='active'><a href="/add">Add property</a></li>
  {{else}}
  <li><a href="/add">Add property</a></li>
  {{/if}}
  {{/if}}

  {{#if isProfile}}
  <li class='active'><a href="/profile">Profile</a></li>
  {{else}}
  <li><a href="/profile">Profile</a></li>
  {{/if}}

  <li><a href="/auth/logout">Logout</a></li>
  {{else}}

  {{#if isLogin}}
  <li class='active'><a href="/auth">Login</a></li>
  {{else}}
  <li><a href="/auth">Login</a></li>
  {{/if}}

  {{/if}}
</ul>